/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

footer {
  margin: 0 auto;
  max-width: 90%;
  color: rgb(88, 88, 88);
  text-align: center;
}

header h1 {
  flex: 1 1 auto;
  text-align: center;
  margin: 20px 0 !important;
}

.container {
  width: 75%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 2em auto;
}
